
{% include 'header.html' %}
{% block content %}
<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Home Page</h3>
				</div>
				<div class="box-body">
					<form action="../upload/" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<label>반드시 .csv파일만 업로드 부탁드립니다</label>
							<input type="file" class="form-control" name="csv_file">
						</div>

						<button type="submit" class="btn btn-info">파일전송</button>
					</form>
				</div>
				<div class="box-footer">
					*** csv 파일 업로드 ***
				</div>
				<!-- /.box-header -->
			</div>
			<!-- /.box -->
		</div>
		<!--/.col (left) -->
	</div>
	<!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
{% include 'footer.html' %}















