{% include 'header.html' %}
{% block content %}


<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">READ BOARD</h3>
				</div>
				<!-- /.box-header -->

<form role="form" method="post" id="frm">
	{% csrf_token %}
	<input type='hidden' name='id' id= 'id' value="{{board.id}}">

</form>

<div class="box-body">
	<div class="form-group">
		<label for="exampleInputEmail1">Title</label> <input type="text" id="title"
			name='title' class="form-control" value="{{board.title}}">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Content</label>
		<textarea class="form-control" name="content" rows="3" id="content">{{board.content}}</textarea>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Writer</label> <input type="text"
			name="writer" class="form-control" value="{{board.writer}}"
			readonly="readonly">
	</div>
</div>
<!-- /.box-body -->

<div class="box-footer">
	{% if board.writer == session_user_name %}
	<button type="submit" class="btn btn-danger" id="removeBtn">삭제</button>
	<button type="submit" class="btn btn-warning" id="updateBtn">수정</button>
	{% endif %}
	<button type="submit" class="btn btn-primary" id="listBtn">목록</button>

</div>
<!--리플시작 부분-->
<div class="row">
	<div class="col-md-12">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">ADD TIMELINE</h3>
			</div>
			<div class="box-body">
				<label for="writer">Writer</label>
				<input type="text" class="form-control" id="time_writer" value="{{session_user_name}}" readonly/>
				<label for="writer">ADD Text</label>
				<input type="text" class="form-control" id="time_txt" />
			</div>
			<div class="box-footer">
				<button id="replyBtn">ADD</button>
			</div>
		</div>
		<ul class="timeline">
			<li class="time-label" >
				<span class="bg-green">timeline list<small id ="cnt">[00]</small></span>
			</li>
		</ul>

		<ul id="reply_result">
			{% for line in lines %}
			<li class="time-label">
				{{ line.txt }}
				{% if line.writer == session_user_name %}
					<a href="javascript:removeReply({{line.id}},{{line.board_id}})" class = "btn btn-primary btn-xs">X</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<script>
function removeReply(id, board_id){
	//alert(id+" ,"+board_id)
	$.ajax({
		url:"../bbs_line_remove/",
		type : 'POST',
		data : {	'csrfmiddlewaretoken' : '{{csrf_token}}',
                     id : id,
                     board_id:board_id},
        dataType: 'json',
        success  : function(list) {
					$('#cnt').text('['+list.length+']')
					txt=""
					$.each(list, function(idx,data){
						txt+="<li class='time-label'>"
						txt+=data.txt+"&nbsp;&nbsp;&nbsp;"
						if(data.writer=='{{session_user_name}}'){
							txt+="<a class='btn btn-primary btn-xs'>X</a>"
						}
						txt+="</li>"
					})
					$('#reply_result').html(txt)

        }
	})
}
$(document).ready(function(){
	$('#listBtn').click(function(){
		location.href="{% url 'list' %}";
	})
	$('#removeBtn').click(function(){
		location.href="../bbs_remove/?id="+$('#id').val();
	})
	$('#updateBtn').click(function(){

		location.href="../bbs_update/?id="+$('#id').val()+'&title='+$('#title').val()+'&content='+$('#content').val();
	})
	$('#replyBtn').click(function(){
		//alert($('#time_writer').val())
		//alert($('#time_txt').val())
		//alert($('#id').val())
		$.ajax({
				url:"{% url 'bbs_reply' %}",
				type : 'POST',
				data : {	'csrfmiddlewaretoken' : '{{csrf_token}}',
                                time_writer : $('#time_writer').val(),
                                time_txt : $('#time_txt').val(),
                                board_id : $('#id').val(),
                        },
                dataType: 'json',
				success  : function(list) {
					$('#cnt').text('['+list.length+']')
					txt=""
					$.each(list, function(idx,data){
						txt+="<li class='time-label'>"
						txt+=data.txt+"&nbsp;&nbsp;&nbsp;"
						if(data.writer=='{{session_user_name}}'){
							txt+="<a class='btn btn-primary btn-xs'>X</a>"
						}
						txt+="</li>"
					})
					$('#reply_result').html(txt)
				}
			})

	})
});



</script>




			</div>
			<!-- /.box -->
		</div>
		<!--/.col (left) -->

	</div>
	<!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
{% include 'footer.html' %}